.form-auth {
  width: 396px;
  max-width: 396px;
  display: flex;
  flex-direction: column;
}

.form-auth__title-input {
  max-width: 100%;
  margin: 0 0 10px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.form-auth__input {
  max-width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 0;
  background-color: #F9F9F9;;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  outline: none;
}

.form-auth__input_invalid {
  color: #FF3055;
}

.form-auth__input-error {
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF3055;
  margin: 10px 0;
  opacity: 0;
  transition: 0.4s;
}

.form-auth__input-error_active {
  opacity: 1;
}

.form-auth__submit-btn {
  max-width: 100%;
  margin: 59px 0 0;
  padding: 13px 0 15px;
  border-radius: 3px;
  border: 0;
  background-color: #3456F3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transition: 0.4s;
}

.form-auth__submit-btn_type_inactive {
  color: #000000;
  background-color: #E5E5E5;
  pointer-events: none;
  user-select: none;
}

.form-auth__submit-btn:hover {
  opacity: 0.8;
}

.form-auth__submit-btn_place_signin {
  margin-top: 137px;
}

@media all and (max-width: 768px) {
  .form-auth__submit-btn {
    margin-top: 119px;
  }
}

@media all and (max-width: 470px) {
  .form-auth {
    max-width: 260px;
    margin: 0 auto;
  }
}

@media all and (max-width:425px) {
  .form-auth__submit-btn {
    margin-top: 147px;
    font-size: 12px;
    line-height: 15px;
    padding-top: 15px;
  }

  .form-auth__submit-btn_place_signin {
    margin-top: 227px;
  }
}
