.login {
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login__logo {
  margin-top: 70px;
}

.login__title {
  max-width: 100%;
  margin: 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.login__subtitle {
  margin: 16px auto 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  align-self: center;
}

.login__register-link {
  color: #3456F3;
  text-decoration: transparent;
  transition: 0.4s;
}

.login__register-link:hover {
  opacity: 0.9;
  text-decoration: underline rgba(52, 86, 243, 0.7);
}

@media all and (max-width: 768px) {
  .login__logo {
    margin-top: 232px;
  }

  .login__subtitle {
    margin-bottom: 232px;
  }
}

@media all and (max-width: 470px) {
  .login {
    max-width: 260px;
    align-items: center;
  }

  .login__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
}

@media all and (max-width: 425px) {
  .login__logo {
    margin: 56px auto 0;
    align-self: center;
  }

  .login__title {
    margin: 50px auto 80px;
  }

  .login__subtitle {
    margin-top: 14px;
    margin-bottom: 30px;
  }
}
