.about-me {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.about-me__title {
  max-width: 100%;
  margin: 100px 0 0;
}

.about-me__student {
  max-width: 600px;
  margin: 66px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-me__status {
  max-width: 600px;
  margin: 18px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  -ms-mix-blend-mode: normal;
  mix-blend-mode: normal;
}

.about-me__description {
  max-width: 600px;
  margin: 26px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  -ms-mix-blend-mode: normal;
  mix-blend-mode: normal;
}

.about-me__links {
  margin: 99px 0 100px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.about-me__link {
  margin: 0 20px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration-color: transparent;
  opacity: 1;
  transition: 0.4s;
}

.about-me__link:hover {
  opacity: 0.7;
  text-decoration: underline rgba(0, 0, 0, 0.7);
}

.about-me__image {
  width: 270px;
  height: 327px;
  position: absolute;
  top: 227px;
  right: 0;
  border-radius: 10px;
}

@media all and (max-width: 1280px) {
  .about-me {
    max-width: calc(100% - 140px);
  }
}

@media all and (max-width: 1060px) {
  .about-me__student {
    max-width: calc(100% - 304px);
  }

  .about-me__status {
    max-width: calc(100% - 304px);
  }

  .about-me__description {
    max-width: calc(100% - 304px);
  }
}

@media all and (max-width: 768px) {
  .about-me {
    max-width: calc(100% - 100px);
  }

  .about-me__title {
    margin-top: 90px;
  }

  .about-me__image {
    width: 255px;
    height: 307px;
  }

  .about-me__student {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__status {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__links {
    margin: 84px 0 90px;
  }
}

@media all and (max-width: 620px) {
  .about-me__image {
    align-self: center;
    max-width: 100%;
    margin: 60px 0 0;
    position: static;
  }

  .about-me__student {
    max-width: 100%;
  }

  .about-me__status {
    max-width: 100%;
  }

  .about-me__description {
    max-width: 100%;
  }
}

@media all and (max-width: 425px) {
  .about-me {
    max-width: calc(100% - 28px);
  }

  .about-me__title {
    margin-top: 70px;
  }

  .about-me__image {
    width: 292px;
    height: 352px;
  }

  .about-me__student {
    margin-top: 40px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__status {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__links {
    margin: 40px 0 69px;
  }

  .about-me__link {
    margin-right: 26px;
  }
}
